* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 195, 148);
    color: rgb(53, 51, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 0 10px ;
    margin: 20px;
}

.top-screen-style {
    background-color:rgb(229, 224, 166) ;
    padding: 20px;
    border-radius: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#score-button{
    background-color: rgb(229, 224, 166);
    border: none;
    font-size: 20px;
}

#first-screen {
    border-style: solid;
    border-color: rgb(229, 224, 166);
    border-width: 1em;
    width: 70%;
    margin-left: 200px;
}

#questions-screen {
    border-style: solid;
    border-color: rgb(229, 224, 166);
    border-width: 1em;
    width: 70%;
    margin-left: 200px;
}

#finish-screen {
    border-style: solid;
    border-color:rgb(229, 224, 166);
    border-width: 1em;
    width: 70%;
    margin-left: 200px;
}

#score-screen{
    border-style: solid;
    border-color: rgb(229, 224, 166);
    border-width: 1em;
    width: 70%;
    margin-left: 200px;
}
.btn{
    background:rgb(229, 224, 166);
    border-radius: 5px;
    font-size: medium;
    max-width: 250px;
    padding: 10px 10px;
    margin-bottom: 15px;
    background: rgb(229, 224, 166);
}

 ul{
    list-style: none;    
 }

.hide {
    display: none;
}

.user-scores{
    display: flex;
    justify-content: center;
}